@model Nemesis.Web.Models.ActivityCreateModel
@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <fieldset>
        <div>
            @Html.LabelFor(m => m.Title)
            @Html.EditorFor(m => m.Title)
        </div>

        <div>
            @Html.LabelFor(m => m.Date)
            @Html.EditorFor(m => m.Date)
        </div>

        <div>
            @Html.LabelFor(m => m.EstimatedDuration)
            @Html.TextBoxFor(m => m.EstimatedDuration, new { type = "number", min = "0" })
        </div>

        <div>
            @Html.LabelFor(m => m.ActualDuration)
            @Html.TextBoxFor(m => m.ActualDuration, new { type = "number", min = "0" })
        </div>

        <div>
            @Html.LabelFor(m => m.OvertimeDuration)
            @Html.TextBoxFor(m => m.OvertimeDuration, new { type = "number", min = "0" })
        </div>

        <div>
            @Html.LabelFor(m => m.Description)
            @Html.TextAreaFor(m => m.Description)
        </div>
        
        <input type="submit" value="Create" />

    </fieldset>


}