@model Nemesis.Web.Models.WorkOrderViewModel
@{
    ViewBag.Title = "CreateWorkOrder";
}

<br />
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Create work order</legend>

        <div>
            @Html.LabelFor(x => x.Name)
            @Html.TextBoxFor(x => x.Name)
            @Html.ValidationMessageFor(x => x.Name)
        </div>

        <div>
            @Html.LabelFor(x => x.Description)
            @Html.TextBoxFor(x => x.Description)
            @Html.ValidationMessageFor(x => x.Description)
        </div>

        <div>
            @Html.LabelFor(x => x.StartDate)
            @Html.TextBoxFor(x => x.StartDate)
            @Html.ValidationMessageFor(x => x.StartDate)
        </div>

        <div>
            @Html.LabelFor(x => x.EstimatedEndDate)
            @Html.TextBoxFor(x => x.EstimatedEndDate)
            @Html.ValidationMessageFor(x => x.EstimatedEndDate)
        </div>

        <div>
            @Html.LabelFor(x => x.ClientId)
            @Html.DropDownListFor(x => x.ClientId, Model.Clients)
            @Html.ValidationMessageFor(x => x.ClientId)
        </div>

        <input type="submit" value="Create" />

    </fieldset>
}