@model Nemesis.Web.Models.Objective.WeekObjectiveViewModel 

@{
    ViewBag.Title = "CreateWeekObjective";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<button class="btnOpenDialog">Create week objective</button>

<div id="dialog">
    @using (Html.BeginForm("CreateWeekObjective", "Objective", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.ValidationSummary(true)
        <fieldset>
            <legend>Create week objective</legend>

            <div class="form-group">
                @Html.Label("Number of week in year", new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.EditorFor(x => x.WeekOrdNum, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(x => x.WeekOrdNum, null, new { @class = "text-danger" })
                </div>
            </div>

            @Html.Partial("Shared/_CreateObjective", Model)
            
        </fieldset>
    }
</div>




