@model Nemesis.Web.Models.Objective.QuartalObjectiveViewModel 

@{
    ViewBag.Title = "CreateQuartalObjective";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<button class="btnOpenDialog">Create quartal objective</button>

<div id="dialog">
    @using (Html.BeginForm("CreateQuartalObjective", "Objective", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.ValidationSummary(true)
        <fieldset>
            <legend>Create quartal objective</legend>

            <div class="form-group">
                @Html.Label("Number of quartal in year", new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.EditorFor(x => x.QuartalOrdNum, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(x => x.QuartalOrdNum, null, new { @class = "text-danger" })
                </div>
            </div>

            @Html.Partial("Shared/_CreateObjective", Model)

        </fieldset>
    }
</div>

