@using Nemesis.Domain
@model Nemesis.Web.Models.ObjectiveViewModel

@{
	ViewBag.Title = "CreateObjective";
}

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Create objective</legend>

        <div>
            @Html.Label("Parent")
            @Html.DropDownListFor(x => x.ParentId, Model.ParentObjectives)
        </div>

        <div>
            @Html.LabelFor(x => x.Title)
            @Html.TextBoxFor(x => x.Title)
            @Html.ValidationMessageFor(x => x.Title)
        </div>

        <div>
            @Html.LabelFor(x => x.Description)
            @Html.TextBoxFor(x => x.Description)
            @Html.ValidationMessageFor(x => x.Description)
        </div>

        <div>
            @Html.LabelFor(x => x.Priority)
            @Html.DropDownListFor(x => x.Priority, Model.Priorities)
            @Html.ValidationMessageFor(x => x.Priority)
        </div>

        <div>
            @Html.Label("Leader")
            @Html.DropDownListFor(x => x.LeaderId, Model.TeamMembers)
        </div>

        <div>
            @Html.Label("EstimatedTime")
            @Html.EditorFor(x => x.EstimatedTime)
            @Html.ValidationMessageFor(x => x.EstimatedTime)
        </div>

        <input type="submit" value="Create" />

    </fieldset>
    
	
}
