@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

@foreach (var entry in ViewBag.Entries)
{
    if (entry.Id == ViewBag.ObjId)
    {
        <div class="list-group-item" style="text-align: center">
            <a href="#" style="height: 100%; display: inline-block" class="btn btn-default" id="previous-objective"><span class="glyphicon glyphicon-arrow-left"></span></a>
            <section class="contact" style="display: inline-block">
                <header>
                    <h3>@entry.ShortDescription</h3> <b>Number: </b> @entry.WeekOrdNum
                </header>
                <p>
                    Posted on @entry.CreatedOn.ToLongDateString()
                </p>
                <p>
                    <b>Priority: </b>
                    @{
        if (entry.Priority == Nemesis.Domain.ObjectivePriority.HIGH)
        {
            <span class="high-priority">@entry.Priority</span>
        }
        else if (entry.Priority == Nemesis.Domain.ObjectivePriority.MEDIUM)
        {
            <span class="medium-priority">@entry.Priority</span>
        }
        else
        {
            <span class="low-priority">@entry.Priority</span>
        }
                    }
                </p>
                <p>
                    <b>Estimated time: </b> @entry.EstimatedTime
                </p>
                <p>
                    <b>Assigned to: </b>
                    @*
                        @foreach (var member in entry.TeamMembers)
                        {
                            <p>
                                @member.Value
                            </p>
                        }
                    *@
                </p>
                <p>
                    <b>Description:</b>
                    @entry.Description
                </p>
            </section>
            <a href="#" style=" height: 100%; display: inline-block" class="btn btn-default" id="next-objective"><span class="glyphicon glyphicon-arrow-right"></span></a>
        </div>
    }
}

@section Scripts{
    <script>
        $(function () {
            var entries = @Html.Raw(
                Json.Encode(
                    ((IEnumerable<Nemesis.Domain.Objective>)ViewBag.Entries).Select(obj => new
                    {
                        objectiveId = obj.Id,
                        objectiveCreatedOn = obj.CreatedOn,
                        objectiveShortDescription = obj.ShortDescription
                    })
                )
            );

            entries.sort(function(a, b){
                if (a.CreatedOn - b.CreatedOn){
                    return 1;
                }
                else{
                    return -1;
                }
            })

            var current = @ViewBag.ObjId;



            function findWithAttr(array, attr, value) {
                for(var i = 0; i < array.length; i += 1) {
                    if(array[i][attr] === value) {
                        return i;
                    }
                }
            }


            var previous = entries[findWithAttr(entries, 'objectiveId', current) - 1];


            var next = entries[findWithAttr(entries, 'objectiveId', current) + 1];

            var filter = "@ViewBag.Filter";


            $('#next-objective').click(function () {
                $.ajax({
                    type: 'GET',
                    url: next ? next.objectiveId : current,
                    success: function () {
                        window.location = next ? (next.objectiveId + "?filter=" + filter) : current;
                    }

                });
            }).toggle(next ? true : false)

            $('#previous-objective').click(function () {
                $.ajax({
                    type: 'GET',
                    url: previous ? previous.objectiveId : current,
                    success: function () {
                        window.location = previous ? (previous.objectiveId + "?filter=" + filter) : current;
                    }

                });
            }).toggle(previous ? true : false)

        })
    </script>
}
