@model Nemesis.Web.Models.ObjectiveViewModel

@{
    ViewBag.Title = "ShowWeekObjectives";
}

<h2>Week Objectives</h2>

@Html.ActionLink("Objectives", "Index", "Objective")
@Html.ActionLink("Month", "ShowMonthObjectives", "Objective")
@Html.ActionLink("Quartal", "ShowQuartalObjectives", "Objective")
@Html.ActionLink("Create week objective", "CreateWeekObjective", "Objective")
@Html.ActionLink("Create month objective", "CreateMonthObjective", "Objective")
@Html.ActionLink("Create quartal objective", "CreateQuartalObjective", "Objective")

@foreach (var entry in ViewBag.Entries)
{
    <section class="contact">
        <header>
            <h3>@entry.ShortDescription</h3> <b>Number: </b> @entry.WeekOrdNum
        </header>
        <p>
            Posted on @entry.CreatedOn.ToLongDateString()
        </p>
        <p>
            <b>Priority: </b> @entry.Priority
        </p>
        <p>
            <b>Estimated time: </b> @entry.EstimatedTime
        </p>
        <p>
            <b>Assigned to: </b>
        @*
            @foreach (var member in entry.TeamMembers)
            {
                <p>
                    @member.Value
                </p>
            }
        *@
        </p>
        <p>
            <b>Description:</b>

            @entry.Description
        </p>
    </section>
}