@{
    ViewBag.Title = "Week objectives";
}
<div id="week-objectives">
<h2>Week objectives</h2>
<br>

@Ajax.ActionLink("<", "ToPreviousWeek", "Objective", new { currentWeek = ViewBag.CurrentWeek }, new AjaxOptions { UpdateTargetId = "week-objectives" })
@ViewBag.CurrentWeek
@Ajax.ActionLink(">", "ToNextWeek", "Objective", new { currentWeek = ViewBag.CurrentWeek }, new AjaxOptions { UpdateTargetId = "week-objectives" })


<table class="table table-bordered">
    <thead>
        <tr>
            <th>Title</th>
            <th>Week num</th>
            <th>Description</th>
            <th>Priority</th>
            <th>Finished</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var weekObjective in ViewBag.WeekObjectives)
        {

            <tr>
                <td>@weekObjective.ShortDescription</td>
                <td>@weekObjective.WeekOrdNum</td>
                <td>@weekObjective.Description</td>
                <td>@weekObjective.Priority</td>
                <td>@weekObjective.PercentComplete%</td>
            </tr>
        }
    </tbody>
</table>

@section scripts{
    @Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.min.js")
}
</div>