@{
    ViewBag.Title = "Month objectives";
}
<div id="month-objectives">
<h2>Month objectives</h2>
<br>

@Ajax.ActionLink("<", "ToPreviousMonth", "Objective", new { currentMonth = ViewBag.CurrentMonth }, new AjaxOptions { UpdateTargetId = "month-objectives" })
@ViewBag.CurrentMonth
@Ajax.ActionLink(">", "ToNextMonth", "Objective", new { currentMonth = ViewBag.CurrentMonth }, new AjaxOptions { UpdateTargetId = "month-objectives" })

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Priority</th>
            <th>Finished</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var monthObjective in ViewBag.MonthObjectives)
{

    <tr>
        <td>
            @Html.ActionLink((string)monthObjective.ShortDescription, "ShowMonthObjective", "Objective", new { id = monthObjective.Id}, null)
        </td>
        <td>@monthObjective.Description</td>
        <td>@monthObjective.Priority</td>
        <td>@monthObjective.PercentComplete%</td>
        <td data-toggle="collapse" @("data-target=#accordion" + monthObjective.Id) class="clickable">+</td>
    </tr>
    <tr>
        <td colspan="4">
            <div @("id=accordion" + monthObjective.Id) class="collapse">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th>Description</th>
                            <th>Estimated Duration</th>
                            <th>Actual Duration</th>
                        </tr>
                    </thead>
                    <tbody>
                        
                    @foreach (var activity in monthObjective.WorkActivities)
                    {
                        <tr>
                            <td>@activity.Title</td>
                            <td>@activity.Description</td>
                            <td>@activity.EstimatedDuration</td>
                            <td>@activity.ActualDuration</td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
        </td>
    </tr>



}
    </tbody>
</table>

<a class="btn btn-default" id="modalCreate" ><span class="glyphicon glyphicon-plus"></span></a>
<div class="list-group">
    <div class="label-success">
        <h3 id="mjestoUspjelo"></h3>
    </div>
</div>

<div class="modal fade" id="createModal" >
    <div class="modal-dialog">
        <div class="modal-content" >
            <div class="modal-header" style="text-align: center;">
                <h4 class="modal-title">Create Objective</h4>
            </div>
            <div class="modal-body" id="contentModala">

            </div>
        </div>
    </div>
</div>

@section scripts{
    @Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.min.js");

    
}
</div>
<script>
    $('#modalCreate').on('click', function (event) {
       
        $.ajax({
            url: '../Objective/CreateMonthObjective',
            type: 'GET',
            data: {'monthOrdNum':@ViewBag.CurrentMonth},
            cache: false
        }).done(function (result) {
            $('#contentModala').html(result);
            $('#createModal').modal();
            
        })
    })
    function handleModalSubmit(result) {
        if (result.value) {
            $('#createModal').modal('hide');
            location.reload();
            // treba napraviti da refresha stranicu i vrati neku poruku o uspjehu

        }
        else {
            $('#contentModala').html(result);
            $('#createModal').modal();
        }
    }
    $('.clickable').on('click', function () {
        if ($(this).hasClass('plusic')) {
            $(this).text('+');
            $(this).removeClass('plusic');
        }
        else {
            $(this).text('-');
            $(this).addClass('plusic');
        }

    });
</script>
