@{
    ViewBag.Title = "Week objectives";
}
<div id="week-objectives">
<h2>Week objectives</h2>
<br>

@Ajax.ActionLink("<", "ToPreviousWeek", "Objective", new { currentWeek = ViewBag.CurrentWeek }, new AjaxOptions { UpdateTargetId = "week-objectives" })
@ViewBag.CurrentWeek
@Ajax.ActionLink(">", "ToNextWeek", "Objective", new { currentWeek = ViewBag.CurrentWeek }, new AjaxOptions { UpdateTargetId = "week-objectives" })

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Priority</th>
            <th>Finished</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var weekObjective in ViewBag.WeekObjectives)
{

    <tr>
        <td>
            @Html.ActionLink((string)weekObjective.ShortDescription, "ShowWeekObjective", "Objective", new { id = weekObjective.Id}, null)
        </td>
        <td>@weekObjective.Description</td>
        <td>@weekObjective.Priority</td>
        <td>@weekObjective.PercentComplete%</td>
        <td data-toggle="collapse" @("data-target=#accordion" + weekObjective.Id) class="clickable">+</td>
    </tr>
    <tr>
        <td colspan="4">
            <div @("id=accordion" + weekObjective.Id) class="collapse">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th>Description</th>
                            <th>Estimated Duration</th>
                            <th>Actual Duration</th>
                        </tr>
                    </thead>
                    <tbody>
                        @*
    @foreach (var activity in weekObjective.WorkActivities)
    {
        <tr>
            <td>@activity.Title</td>
            <td>@activity.Description</td>
            <td>@activity.EstimatedDuration</td>
            <td>@activity.ActualDuration</td>
        </tr>
    }
*@
                        <tr>
                            <th>Aktivnost</th>
                            <th>Opis aktivnosti</th>
                            <th>10</th>
                            <th>12</th>
                        </tr>
                        <tr>
                            <th>Druga Aktivnost</th>
                            <th>Opis druge aktivnosti</th>
                            <th>15</th>
                            <th>21</th>
                        </tr>
                    </tbody>
                </table>
            </div>
        </td>
    </tr>



}
    </tbody>
</table>

<a class="btn btn-default" id="modalCreate" ><span class="glyphicon glyphicon-plus"></span></a>
<div class="list-group">
    <div class="label-success">
        <h3 id="mjestoUspjelo"></h3>
    </div>
</div>

<div class="modal fade" id="createModal" >
    <div class="modal-dialog">
        <div class="modal-content" >
            <div class="modal-header" style="text-align: center;">
                <h4 class="modal-title">Create Objective</h4>
            </div>
            <div class="modal-body" id="contentModala">

            </div>
        </div>
    </div>
</div>

@section scripts{
    @Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.min.js");

    
}
</div>
<script>
    $('#modalCreate').on('click', function (event) {
       
        $.ajax({
            url: '../Objective/CreateWeekObjective',
            type: 'GET',
            cache: false
        }).done(function (result) {
            $('#contentModala').html(result);
            $('#createModal').modal();
            
        })
    })
    function handleModalSubmit(result) {
        if (result.value) {
            $('#createModal').modal('hide');
            location.reload();
            // treba napraviti da refresha stranicu i vrati neku poruku o uspjehu

        }
        else {
            $('#contentModala').html(result);
            $('#createModal').modal();
        }
    }
    $('.clickable').on('click', function () {
        if ($(this).hasClass('plusic')) {
            $(this).text('+');
            $(this).removeClass('plusic');
        }
        else {
            $(this).text('-');
            $(this).addClass('plusic');
        }

    });
</script>
