@model Nemesis.Web.Models.ObjectiveViewModel

@{
    ViewBag.Title = "ShowMonthObjectives";
}

<h2>Month Objectives</h2>

@Html.ActionLink("Objectives", "Index", "Objective")
@Html.ActionLink("Week", "ShowWeekObjectives", "Objective")
@Html.ActionLink("Quartal", "ShowQuartalObjectives", "Objective")
@Html.ActionLink("Create week objective", "CreateWeekObjective", "Objective")
@Html.ActionLink("Create month objective", "CreateMonthObjective", "Objective")
@Html.ActionLink("Create quartal objective", "CreateQuartalObjective", "Objective")

<div id="accordion">
    @foreach (var entry in ViewBag.Entries)
    {
        <h3>@entry.ShortDescription</h3>
        <div>
            <p>
                Posted on @entry.CreatedOn.ToLongDateString()
            </p>
            <p>
                <b>Priority: </b> @entry.Priority
            </p>
            <p>
                <b>Estimated time: </b> @entry.EstimatedTime
            </p>
            <p>
                <b>Assigned to: </b>
                @*
                    @foreach (var member in entry.TeamMembers)
                    {
                        <p>
                            @member.Value
                        </p>
                    }
                *@
            </p>
            <p>
                <b>Description:</b> @entry.Description
            </p>
        </div>
    }
</div>

<script language="JavaScript" type="text/javascript">
    $(document).ready(function () {
        $("#accordion").accordion({
            heightStyle: "content",
            collapsible: true
        });
    });
</script>