@model IEnumerable<Nemesis.Domain.WorkActivity>

<div class="btn-group" role="group" aria-label="...">
    @Ajax.ActionLink("Previous", "PreviousDay", "Activity", new { day = ViewBag.Day }, new AjaxOptions { UpdateTargetId = "day-activities" }, new { @class = "btn btn-default" })
    <input type="button" class="btn btn-default datepicker" value="@ViewBag.Day.ToString("dd.MM.yyyy.")" />
    @Ajax.ActionLink("Next", "NextDay", "Activity", new { day = ViewBag.Day }, new AjaxOptions { UpdateTargetId = "day-activities" }, new { @class = "btn btn-default" })
</div>

<div>
    <br />
</div>

<table class="table table-striped table-bordered table-condensed">
    <thead>
        <tr>
            <th>Title</th>
            <th>Date</th>
            <th width="10px">Description</th>
            <th width="10px">Objective</th>
            <th>Work order</th>
            <th>Actual duration</th>
            <th>Done by</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var m in Model)
        {
            <tr>
                <td>@m.Title</td>
                <td>@m.Date.ToShortDateString()</td>
                @if (m.Description.IsEmpty())
                {
                    <td></td>;
                }
                else
                {
                    <td width="10px" data-toggle="tooltip" data-placement="top" title="@m.Description"><span class="col-md-offset-5 glyphicon glyphicon-option-horizontal"></span></td>
                }
                @if (m.RealizedForObjective == null)
                {
                    <td></td> }
                else
                {
                    <td width="10px" data-toggle="tooltip" data-placement="top" title="@m.RealizedForObjective.Display"><span class="col-md-offset-5 glyphicon glyphicon-option-horizontal"></span></td>
                }
                @if (m.WorkOrder == null)
                {
                    <td></td> }
                else
                {
                    <td>@m.WorkOrder.Code</td>
                }

                <td>@m.ActualDuration</td>
                <td>@m.DoneBy.Display</td>
            </tr>
        }
    </tbody>
</table>

<script>
    $(".datepicker").datepicker({
        dateFormat: "dd.mm.yy.",
        onSelect: function (e) {
            var dateObject = $(this).datepicker('getDate');
            var date = { 'date': dateObject.toDateString() }
            $.ajax({
                url: '../Activity/GetByDate',
                data: date,
                type: 'GET',
                cache: false,
                success: function (result) {
                    $('#day-activities').html(result);

                },
                error: function (req, status, error) {
                    alert(req + ' ' + status + ' ' + error);
                }
            })
        }
    });
   
</script>
