@model Nemesis.Web.Models.Objective.WeekObjectiveViewModel

@using (Ajax.BeginForm("CreateWeekObjective", "Objective", new System.Web.Mvc.Ajax.AjaxOptions { OnSuccess = "handleModalSubmit"}, new { @class = "form-horizontal", role = "form", id = "createforma" }))
{
    @Html.ValidationSummary(true)
    <fieldset>
        @Html.HiddenFor(x => x.WeekOrdNum)
        
        <div class="form-group">
            @Html.LabelFor(x => x.ParentId, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.RadioButton("parent", "Month", true, new { @id = "radio-month"}) Month
                @Html.RadioButton("parent", "Quartal", false, new { @id = "radio-quartal" }) Quartal
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label"></label>
            <div class="col-md-10">
                @Html.DropDownListFor(x => x.ParentId, Model.ParentObjectives, "-- Please select parent month objective --", new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.ParentId, null, new { @class = "text-danger" })
            </div>
        </div>
        
        <div class="form-group">
            @Html.LabelFor(x => x.WorkOrderId, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.DropDownListFor(x => x.WorkOrderId, Model.WorkOrders, "-- Please select a work order --", new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.WorkOrderId, null, new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(x => x.Title, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(x => x.Title, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.Title, null, new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(x => x.Description, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(x => x.Description, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.Description, null, new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(x => x.Priority, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.DropDownListFor(x => x.Priority, Model.Priorities, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.Priority, null, new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(x => x.TeamMembersId, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.DropDownListFor(x => x.TeamMembersId, Model.TeamMembers, new { @class = "form-control", multiple = "multiple" })
                @Html.ValidationMessageFor(x => x.TeamMembersId, null, new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(x => x.EstimatedTime, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.EditorFor(x => x.EstimatedTime, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(x => x.EstimatedTime, null, new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" id="submitWeek" />
            </div>
        </div>

    </fieldset>
}

<script>
    $('#radio-month').on('click', function (event) {
        $.ajax({
            url: '../Objective/GetMonthObjectives',
            type: 'GET',
            cache: false
        }).done(function (result) {
            var $el = $("#ParentId");
            $el.empty(); // remove old options
            $el.append($("<option value>-- Please select parent month objective --</option>"));
                
            for (var i = 0; i < result.length; i++) {
                $el.append($("<option></option>")
                   .attr("value", result[i].Value).text(result[i].Text));
            }

        });
    });

    $('#radio-quartal').on('click', function (event) {
        $.ajax({
            url: '../Objective/GetQuartalObjectives',
            type: 'GET',
            cache: false
        }).done(function (result) {
            var $el = $("#ParentId");
            $el.empty(); // remove old options
            $el.append($("<option value>-- Please select parent quartal objective --</option>"));
            for (var i = 0; i < result.length; i++) {
                $el.append($("<option></option>")
                   .attr("value", result[i].Value).text(result[i].Text));
            }

        });
    });
</script>
