@model Nemesis.Web.Models.TeamCreateModel

@{
    ViewBag.Title = "Create new team";
}

<h2>Create team</h2>
@using (Html.BeginForm()) {

    <div>@Html.LabelFor(m => m.Name)</div>
    <div>@Html.EditorFor(m => m.Name)</div>

    <br />
    
    <div>@Html.LabelFor(m => m.TeamLeader)</div>
    <div>@Html.DropDownListFor(m => m.TeamLeader, Model.MemberItems)</div>

    <br />
    
    <div>@Html.LabelFor(m => m.TeamType)</div>
    <div>@Html.DropDownListFor(m => m.TeamType, Model.TeamTypes)</div>
    <br />

    <div>@Html.LabelFor(m => m.CurrentSubteam)</div>
    <div>@Html.DropDownListFor(m => m.CurrentSubteam, Model.TeamItems)</div>
    
    <input type="submit" name="submitSubteam" class="btn" value="Add subteam" />
    <br />
    foreach (String name in Model.SubteamNames) {
        <h5>@name </h5>
    }
    <br />

    <div>@Html.LabelFor(m => m.CurrentMember)</div>
    <div>@Html.DropDownListFor(m => m.CurrentMember, Model.MemberItems)</div>
    
    <input type="submit" name="submitMember" class="btn" value="Add member" />
    
    <br />
    foreach (String name in Model.MemberNames) {
        <h5>@name </h5>
    }
    <br />
    
    <div>@Html.LabelFor(m => m.ParentTeam)</div>
    <div>@Html.DropDownListFor(m => m.ParentTeam, Model.TeamItems)</div>
    
    // hidden fors(used to not lose essential background model items
    for(int i = 0; i < Model.SubteamIDs.Count; i++)
    {
        @Html.HiddenFor(model => Model.SubteamIDs[i])
    }
    
    for(int i = 0; i < Model.MemberIDs.Count; i++)
    {
        @Html.HiddenFor(model => Model.MemberIDs[i])
    }
    
    for(int i = 0; i < Model.MemberNames.Count; i++)
    {
        @Html.HiddenFor(model => Model.MemberNames[i])
    }

    for (int i = 0; i < Model.SubteamNames.Count; i++) {
        @Html.HiddenFor(model => Model.SubteamNames[i])
    }
    
    <br />
    <input type="submit" name="finishedSubmitButton" class="btn btn-primary btn-lg" value="Create team" />
    
}