@model Nemesis.Web.Models.TeamCreateModel

@{
    ViewBag.Title = "Create new team";
}

<h2>Create team</h2>
@using (Html.BeginForm()) {
@Html.ValidationSummary(true)

    <div>
      @Html.LabelFor(m => m.Name)
     <p> @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })</p>
    </div>
    <div>@Html.EditorFor(m => m.Name)</div>

    <br />
    
    <div>@Html.LabelFor(m => m.TeamLeader)
    @Html.ValidationMessageFor(m => m.TeamLeader, "", new { @class = "text-danger" })
    </div>
    <div>@Html.DropDownListFor(m => m.TeamLeader, Model.MemberItems)</div>

    <br />

    <p>@Html.ValidationMessageFor(m => m.TeamType)</p>  
    <div>@Html.LabelFor(m => m.TeamType)</div>
    <div>@Html.DropDownListFor(m => m.TeamType, Model.TeamTypes)</div>
    <br />

    <div>@Html.LabelFor(m => m.CurrentSubteam)</div>
    <div>@Html.DropDownListFor(m => m.CurrentSubteam, Model.TeamItems)</div>
    
    <input type="submit" name="continueSubmitting" class="btn" value="Add subteam" />
    <br />
    <br />

    <div>@Html.LabelFor(m => m.CurrentMember)</div>
    <div>@Html.DropDownListFor(m => m.CurrentMember, Model.MemberItems)</div>
    
    <input type="submit" name="continueSubmitting" class="btn" value="Add member" />
    <br />
    <br />
    
    <div>@Html.LabelFor(m => m.ParentTeam)</div>
    <div>@Html.DropDownListFor(m => m.ParentTeam, Model.TeamItems)</div>
    
    for(int i = 0; i < Model.Subteams.Count; i++)
    {
        @Html.HiddenFor(model => Model.Subteams[i])
    }
    
    for(int i = 0; i < Model.Members.Count; i++)
    {
        @Html.HiddenFor(model => Model.Members[i])
    }

    <br />
    <input type="submit" name="finishedSubmitButton" class="btn btn-primary btn-lg" value="Create team" />
    
}