<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script type="text/javascript" src="@Url.Content("/Scripts/common.js")"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Nemesis", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
							<ul class="nav navbar-nav">
								<li>@Html.ActionLink("Home", "Index", "Home")</li>
								@*<li>@Html.ActionLink("Objectives", "Index", "Objective")</li>*@
								<li class="dropdown">
									<a href="#" class="dropdown-toggle" id="dropdownCommonMenu" data-toggle="dropdown">Objectives</a>
									<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownCommonMenu">
										<li role="menuitem" class="nav-header">Show</li>
										<li role="menuitem">@Html.ActionLink("Week objectives", "ShowWeekObjectives", "Objective")</li>
										<li role="menuitem">@Html.ActionLink("Month objectives", "ShowMonthObjectives", "Objective")</li>
										<li role="menuitem">@Html.ActionLink("Quartal objectives", "ShowQuartalObjectives", "Objective")</li>
										<li role="menuitem" class="divider"></li>
										<li role="menuitem" class="nav-header">Create</li>
										<li role="menuitem">@Html.ActionLink("Week objective", "CreateWeekObjective", "Objective")</li>
										<li role="menuitem">@Html.ActionLink("Month objective", "CreateMonthObjective", "Objective")</li>
										<li role="menuitem">@Html.ActionLink("Quartal objective", "CreateQuartalObjective", "Objective")</li>
									</ul>
								</li>
@*								<li>@Html.ActionLink("Activities", "Index", "Activity")</li>*@
								<li class="dropdown">
									<a href="#" class="dropdown-toggle" id="dropdownCommonMenu" data-toggle="dropdown">Activities</a>
								    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownCommonMenu">
                                        <li role="menuitem">@Html.ActionLink("Show", "Index", "Activity")</li>
								        <li role="menuitem">@Html.ActionLink("Show today", "Today", "Activity")</li>
								        <li role="menuitem">@Html.ActionLink("Show whole week", "CurrentWeek", "Activity")</li>
								        <li role="menuitem" class="divider"></li>
								        <li role="menuitem">@Html.ActionLink("Create activity", "Create", "Activity")</li>
								    </ul>
								</li>
								<li>@Html.ActionLink("Projects", "Index", "Project")</li>
								@*<li>@Html.ActionLink("Assets", "Index", "Asset")</li>*@
								<li class="dropdown">
									<a href="#" class="dropdown-toggle" id="dropdownCommonMenu" data-toggle="dropdown">Assets</a>
									<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownCommonMenu">
										<li role="menuitem">@Html.ActionLink("Asset list", "AssetList", "Asset")</li>
										<li role="menuitem">@Html.ActionLink("Asset list hierarchical", "AssetListHierarchical", "Asset")</li>
										<li role="menuitem">@Html.ActionLink("Asset types", "AssetTypes", "Asset")</li>
										<li role="menuitem">@Html.ActionLink("Asset attributes", "AssetAttributes", "Asset")</li>
									</ul>
								</li>
								<li>@Html.ActionLink("Teams", "Index", "Team")</li>
@*								<li>@Html.ActionLink("Work orders", "Index", "Team")</li>*@
								<li class="dropdown">
									<a href="#" class="dropdown-toggle" id="dropdownCommonMenu" data-toggle="dropdown">Work orders</a>
									<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownCommonMenu">
										<li role="menuitem">@Html.ActionLink("Show list", "Index", "Home")</li>
                                        <li role="menuitem">@Html.ActionLink("Create work order", "CreateWorkOrder", "WorkOrder")</li>
										<li role="menuitem">@Html.ActionLink("Add new client", "Create", "Client")</li>
									</ul>
								</li>
								<li>@Html.ActionLink("About", "About", "Home")</li>
								<li>@Html.ActionLink("Contact", "Contact", "Home")</li>
								<!-- DropDown example -->
								@*<li class="dropdown">
									<a href="#" class="dropdown-toggle" id="dropdownCommonMenu" data-toggle="dropdown">DropDown</a>
									<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownCommonMenu">
										<li role="menuitem" class="nav-header">Header 1</li>
										<li role="menuitem">@Html.ActionLink("Item 1", "Index", "Home")</li>
										<li role="menuitem" class="disabled">@Html.ActionLink("Item 2 (disabled)", "Index", "Home")</li>
										<li role="menuitem" class="divider"></li>
										<li role="menuitem" class="nav-header">Header 2</li>
										<li role="menuitem">@Html.ActionLink("Item 3", "Index", "Home")</li>
									</ul>
								</li>*@
                <li>@Html.ActionLink("Users", "Index", "Account")</li>
							</ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - NEMESIS - system for managing OKR's</p>
        </footer>
    </div>


</body>
</html>
